<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<title>Tourkalender Main</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta charset="utf-8" />
	<link href="/resources/static/css/tourkalender.css" rel="stylesheet" media="screen" th:href="@{/resources/static/css/tourkalender.css}" />
	
</head>
<body>
	<div th:replace="fragments/header :: header">fragment header</div>
	<!-- <div th:replace="fragments/main :: main">fragment main</div> -->
</body>
</html>