<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<link type="text/css" rel="stylesheet" th:href="@{/resources/static/css/tourkalender.css}" />
<link type="text/css" rel="stylesheet" th:href="@{/resources/static/css/jquery.filer.css}" />
<link type="text/css" rel="stylesheet" th:href="@{/resources/static/css/themes/jquery.filer-dragdropbox-theme.css}" />

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>Upload von Touren</title>

</head>
<body>
	<div th:include="fragments/upload_frgm :: upload">upload fragment</div>
</body>
</html>

