<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div th:fragment="main" class="main">
		<div id="promos">
			<!--<section class="promo" th:style="'background-image:url(' + @{/resources/static/img/tourkalender_background.jpg} + ');'"> -->
			<div>
			<h2>Tourkalender main content</h2>
			<p>Verbinde dich mit Freunden und hole aus jedem Lauf und jeder Radfahrt das Meiste heraus.</p>
			</div>
			<!-- </section> -->
		</div>
	</div>
</body>
</html>