<html xmlns="http://www.w3.org/1999/xhtml">
<body>
	<div th:fragment="upload" xmlns:th="http://www.thymeleaf.org">

		<script th:src="@{/resources/static/js/jquery-3.1.0.min.js}"></script>
		<script th:src="@{/resources/static/js/jquery.filer.js}"></script>
		<!-- <script th:src="@{/resources/static/js/filer.custom.js}"></script> -->


<form action="/tourkalender/uploadFiles" method="POST" enctype="multipart/form-data">
      <input id="filer_input" type="file" name="files" multiple="multiple">
      <input class="button button-green" type="submit" value="Submit">
</form>

<!-- 
		<form action="/tourkalender/uploadFileJqueryFiler" method="POST"
			enctype="multipart/form-data">

			<div class="jFiler jFiler-theme-default">
				<input id="filer_input" name="files" multiple="multiple" style="position: absolute; left: -9999px; top: -9999px; z-index: -9999;" type="file">
				<div class="jFiler-input">
					<div class="jFiler-input-caption">
						<span>Choose files To Upload1</span>
					</div>
					<div class="jFiler-input-button">Choose Files</div>
				</div>
			</div>
			<input class="button button-green" value="Submit" type="submit">
		</form>
 -->
	</div>
</body>
</html>


